.about-container {
  // display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  h2 {
    // font-family: "Baloo";
  }
  img {
    // margin: .75rem;
    // max-width: 30vw;
  }
  .right-content {
    h3 {
      // font-family: "Baloo";
    }
    p {
      margin: 1rem 0;
      font-size: large;
      line-height: normal;
    }
  }
}
