.App {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #110034;
  font-family: "Open Sans", sans-serif;
}