.portfoliolist {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: .5rem;
  .stock-wrapper {
    margin: 0;
    padding: 0;
    .stock {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      transition: all 0.3s ease-in-out 0s;
      padding: .75rem;
      border-bottom: 1px solid #ddd;
      &:hover {
        background: #efefef;
        h2 {
          color: #dc4a7f;
        }
        h3 {
          color: #dc4a7f;
        }
      }
      .stock-header {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        h2 {
          padding: 0;
          margin: 0;
          font-family: "Baloo", sans-serif;
        }
        h6 {
          padding: 0;
          margin: 0;
          font-weight: normal;
          color: #888888;
        }
      }
      h3 {
        padding: 0;
        margin: 0;
        font-family: "Baloo", sans-serif;
      }
    }
  }
}
