.side-nav {
  background-color: #261f35;
  min-height: 100vh;
  width: 200px;
  padding: 0 .5rem;

  @media (max-width: $bp-mobile) {
    width: 100%;
    min-height: 20px;
    display: flex;
    flex-direction: row;
  }
  .sidenav-item {
    display: flex;
    margin: 2.5rem 1rem;
    @media (max-width: $bp-mobile) {
      margin: 1rem .5rem;
    }
    .sidenav-link {
      color: #fff;
    }
    img {
      max-height: 1rem;
    }
  }
}
