.stock-container {
  width: 100%;
  padding: 3rem;
  .topbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h1 {
        font-weight: bold;
        font-size: 32px;
        margin: 15px 0;
        span {
          color: grey;
          font-size: 20px;
        }
      }
      h3 {
        font-size: 32px;
      }
      h4 {
        margin-top: 10px;
      }
    }
    button {
      height: 40px;
      width: 120px;
      background: #00D1C5;
      color: white;
      border-radius: 10px;
      &:hover {
        background: white;
        color: #00D1C5;
        cursor: pointer;
      }
    }
  }
}
