.stock-container {
  width: 100%;
  padding: 3rem;
  .topbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      h1 {
        font-weight: bold;
        font-size: 32px;
        margin: 15px 0;
        span {
          color: grey;
          font-size: 20px;
        }
      }
      h3 {
        font-size: 32px;
      }
      h4 {
        margin-top: 10px;
      }
    }
    .unwatch-button {
      margin-right: 2rem;
      height: 40px;
      width: 120px;
      background: white;
      border-radius: 5px;
      border: 2px solid #DC4A7F;
      color: #DC4A7F;
      cursor: pointer;
      transition: .5s;
      &:hover {
        background: #DC4A7F;
        color: white;
      }
    }
    .watch-button {
      margin-right: 2rem;
      height: 40px;
      width: 120px;
      background: white;
      border-radius: 5px;
      border: 2px solid #00D1C5;
      color: #00D1C5;
      cursor: pointer;
      transition: .5s;
      &:hover {
        background: #00D1C5;
        color: white;
      }
    }
  }

  .buy-sell-container {
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    .buy-container {
      border: 2px solid #00D1C5;
      border-radius: 5px;
      display: flex;
      flex-flow: row wrap;
      width: 400px;
      padding: 1rem;

      .buy-name {
        font-size: 25px;
        width: 100%;
        text-align: left;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(199, 196, 196);
      }

      .shares-label, .market-price, .estimated-cost {
        margin: .5rem 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .shares-input {
          height: 45px;
          width: 100px;
          text-align: right;
          border: 1px solid black;
          border-radius: 5px;
        }
      }

      .buy-button {
        width: 100%;
        height: 40px;
        background: #00D1C5;
        color: white;
        transition: .5s;
        &:hover {
          border: 2px solid #00D1C5;
          background-color: rgb(255, 255, 255);
          color: #00D1C5;
        }
      }
    }
    .sell-container {
      border: 2px solid #DC4A7F;
      border-radius: 5px;
      display: flex;
      flex-flow: row wrap;
      width: 400px;
      padding: 1rem;

      .sell-name {
        font-size: 25px;
        width: 100%;
        text-align: left;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(199, 196, 196);
      }

      .shares-label, .market-price, .estimated-cost {
        margin: .5rem 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .shares-input {
          height: 45px;
          width: 100px;
          text-align: right;
          border: 1px solid black;
          border-radius: 5px;
        }
      }

      .sell-button {
        width: 100%;
        height: 40px;
        background: #DC4A7F;
        color: white;
        transition: .5s;
        &:hover {
          border: 2px solid #DC4A7F;
          background-color: rgb(255, 255, 255);
          color: #DC4A7F;
        }
      }
    }
  }
}
